aiohttp==3.9.3
alive_progress==3.1.5
beautifulsoup4==4.12.3
colorama==0.4.6
comcrawl==1.0.2
dnspython==2.6.1
httpx==0.27.0
pandas==2.2.1
pyfiglet==1.0.2
python_Wappalyzer==0.3.1
Requests==2.31.0
scapy==2.5.0
setuptools==65.5.0
tldextract==5.1.1
tqdm==4.66.2
urllib3==2.2.1
Wappalyzer==1.0
